
@{
    ViewData["Title"] = "Dashboard";
}

<h1>Dashboard</h1>
<h2>@ViewBag.MySession</h2>
<a class="btn btn-primary" style="background-color:red" asp-controller="Home" asp-action="Logout">Logout</a>
